.Welcome {
    margin: 5px auto;
    width: 90%;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}
@media (min-width: 500px) {
    .Welcome {
        width: 600px;
    }
}